extends ../layout.pug
include ../common/form-row.pug

block content
    .page-center
        form(role="form" action="/login" method="post")
            +formRow("text", "username", "", translations.username)
            +formRow("password", "password", "", translations.password)