$colorPurple = #461c3d
$colorGreen = #4f6c6b

$smallBP = 600px

body
    margin: 0
    background-image: url('/img/bg.jpg')
    background-size: 25%

    @media screen and (max-width: $smallBP)
        background-size: 80%

input:focus
textarea:focus
    outline: none

.clickable
    cursor pointer

.centered-text
    text-align: center
    width: 100%

.framed
    padding: 16px 32px
    border-top: 3px solid $colorPurple
    border-bottom: 3px solid $colorPurple

.playfair
    font-family: 'Playfair Display', serif

.amatic
    font-family: 'Amatic SC', cursive

.exo2
    font-family: 'Exo 2', sans-serif

.page-wrapper
    width 730px
    margin: 0 auto

    @media screen and (max-width: 730px)
        width 100%

.page-center
    display: flex
    align-items: center
    justify-content: center
    min-height: 90vh

.row
    display: flex
    justify-content: space-between
    align-items: center

.flex-layout
    display: flex
    flex-flow: row wrap
    width: auto

.main
    padding: 0 80px
    margin-bottom: 24px
   
.gutter-large
    margin-bottom: 82px

    @media screen and (max-width: $smallBP)
        margin-bottom: 42px
 
.gutter-small
    margin-bottom: 42px

.select-header
    @extends .playfair
    @extends .centered-text
    margin-bottom: 26px
    color: $colorPurple
    font-size: 42px

.select
    @extends .exo2
    @extends .clickable
    padding 12px 14px
    color: $colorPurple
    font-size: 26px
    border-bottom: 3px dashed $colorPurple

.row input
    display: none

    &:checked + .select
        background-color: $colorGreen
        color: white

.title
    @extends .playfair
    color: $colorPurple
    font-size: 70px

    @media screen and (max-width: $smallBP)
        font-size: 42px

    &.amp
        font-size: 130px

        @media screen and (max-width: $smallBP)
            font-size: 42px

.header
    @extends .amatic
    @extends .centered-text
    text-transform: uppercase
    color: $colorPurple
    font-size: 52px

.subheader
    @extends .centered-text
    @extends .amatic
    color: $colorPurple
    text-transform: uppercase
    font-size: 58px

    &.number
        font-family: sans-serif
        font-weight: 900
        font-size: 78px

.text-page
    @extends .exo2
    font-size: 26px

.logo
    display: block
    margin: 0 auto
    max-width 900px
    width: 100%
    margin-top: 30px
    margin-bottom: -140px

    @media screen and (max-width: $smallBP)
        margin-bottom: -52px

.decline-btn
    @extends .exo2
    @extends .clickable
    color: #b71c1c
    text-decoration: underline
    font-size: 24px

.accept-btn
    @extends .playfair
    @extends .clickable
    @extends .centered-text
    @extends .framed
    font-size: 30px
    text-transform: uppercase
    width: auto

.primary-btn
    @extends .clickable
    border: solid 1px
    padding: 12px 24px
    background: $colorPurple
    color: white

.card
    background-color: white
    box-shadow: 0px 0px 5px 1px rgba(77,77,77,0.3)
    padding: 14px 16px
    margin: 6px
    border-radius: 3px
    box-sizing: border-box
    flex: 0 1 25%
    display: flex
    flex-flow: column nowrap
    justify-content: space-between
    height: 280px

    &.declined
        background-color: #ffe4e4

    &.accepted
        background-color: #d9ffe6

.username
    font-size: 24px
    margin-bottom: 6px

.card-content
    font-size: 18px
    font-weight: 600
    p
        margin: 8px 0

.date
    @media screen and (max-width: $smallBP)
        flex-flow: column

        .number
            order -1

        .subheader
            box-sizing: border-box;
            width: 100%;

.choice
    @media screen and (max-width: $smallBP)
        flex-flow: column

        .accept-btn
            @extends .gutter-small