.page-center
    display: flex
    align-items: center
    justify-content: center
    min-height: 90vh

input:focus
textarea:focus
    outline: none

.btn-primary
    border: solid 1px
    padding: 12px 24px
    background: #6d496c
    color: white